*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url(./istockphoto-1146367620-612x612.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.Menu-bar{
    background: rgba(0,100,0);
    text-align: center;
}

.Menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #ffff;
}

.Menu-bar ul li
{
    width: 150px;
    margin: 18px;
    padding: 18px;
}

.Menu-bar ul li a
{
    text-decoration: none;
    color: #ffff;
}

.active,.Menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}


.Menu-bar .fa
{
    margin-right: 8px;
}

.Menu_bar1
{
    display: none;
}

.Menu-bar ul li:hover .Menu_bar1
{
display: block;
position: absolute;
background: rgba(0,100,0);
margin-top: 15px;
margin-left: -15px;
}

.Menu-bar ul li:hover .Menu_bar1 ul
{
    display: block;
}

.Menu-bar ul li:hover .Menu_bar1 li
{
    width: 150px;
    padding: 10px;
    border-bottom:1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.Menu-bar ul li:hover .Menu_bar1 li:last-child
{
    border-bottom: none;
}

.Menu-bar ul li:hover .Menu_bar1 li a:hover
{
    color: #b2ff00;
}